.lolRadnomizer {
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
  background: rgb(105, 74, 3);
  background: radial-gradient(
    circle,
    rgb(3, 37, 105) 0%,
    rgb(0, 1, 61) 24%,
    rgba(14, 19, 15, 1) 84%,
    rgba(0, 0, 0, 1) 100%
  );
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lolRadnomizer h1 {
  font-size: 50px;
  margin-bottom: 50px;
}
