.chat_container {
  $borderColor: #6c5d2a;

  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  bottom: 3.5%;
  left: 3%;

  z-index: 3000;
  border: 0.1vw solid $borderColor;

  .chat_subContainer {
    width: 100%;
    height: 2vw;
    display: flex;
    color: white;

    form {
      input {
        width: 20vw;
        height: 100%;
        box-sizing: border-box;
        border-top: 0.1vw solid $borderColor;

        color: white;
        font-size: 0.9vw;
        text-align: left;

        background-color: #010a13;
        scroll-behavior: smooth;

        &:focus {
          outline: none;
          background-color: #0e171e;
        }
      }
    }

    img {
      height: 100%;
      box-sizing: border-box;
      border: 1px solid $borderColor;
      border-left: none;
      border-bottom: 0;
    }
  }

  .msg_box {
    width: 100%;
    position: relative;
    background-color: #010a13;
    z-index: -1;
    animation: appear 0.5s;

    .button_minimize {
      width: 1vw;
      height: 1vw;
      font-size: 1vw;
      background: none;
      border: 0.1vw solid $borderColor;

      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
    }

    ul {
      height: 17vw;
      margin: 1vw 0;
      padding: 0;

      position: relative;
      list-style-type: none;
      overflow-y: scroll;
      overflow-wrap: break-word;

      li {
        padding: 3px 10px;
        overflow: hidden;
        font-size: 0.9vw;
        text-align: left;
      }

      .li_container {
        border-bottom: 1px solid $borderColor;
        padding-bottom: 1vw;

        li {
          color: #838376;
          text-align: center;
          font-size: 1.1vw;
          padding: 0;
        }
      }
      .exampleButton_container {
        margin: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        .exampleButton {
          width: auto;
          height: auto;
          display: flex;
          position: relative;
          border: none;
          border-bottom: 1px solid white;
          font-size: 0.9vw;
        }
      }

      .ref {
        width: 1px;
        height: 1px;
        display: flow-root;
      }
    }

    ::-webkit-scrollbar {
      width: 5px;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #7a5c2a;
    }
    ::-webkit-scrollbar-thumb:hover {
      background-color: #e1b24b;
    }

    ::-webkit-scrollbar-thumb:active {
      background-color: #3e3013;
    }

    ::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: none;
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 900px) {
  .chat_container {
    display: none;
  }
}
