.loader {
  img {
    margin: 10px 0;
    animation: rotation 1s linear infinite;
    width: 30px;
    display: inline-block;
    box-sizing: border-box;
    height: 30px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
