.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10000;

  video {
    width: 100vw;
    height: 100vh;
    scale: 1.5;
  }
}
