footer {
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.819);
  border-top: 2px solid #484a4c;
}
