.button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  overflow: hidden;

  .footerBtn {
    width: 14vw;
    height: 3.5vw;
    min-height: 3rem;
    border: none;
    background-image: url('../../../assets/images/button-lockin.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-image: url('../../../assets/images/button-lockin-hover.png');
    }

    video {
      pointer-events: none;
      opacity: 0.2;
    }

    p {
      position: absolute;
    }
  }

  .btn_disabled {
    background-image: url('../../../assets/images/button-lockin-disable.png');

    p {
      color: #b7bdc1;
    }

    &:hover {
      background-image: url('../../../assets/images/button-lockin-disable.png');
      cursor: not-allowed;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .button_container {
    .footerBtn {
      width: 13rem;
    }
  }
}
