@import '../assets/mixins.scss';

form {
  position: absolute;
  top: 0%;
  z-index: -1;

  .form_container {
    display: flex;
    height: 85vh;

    .form_input__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 250px;
      margin: 0 10px;
      background-image: url('../assets/images/banner12.png');
      background-repeat: no-repeat;

      input {
        width: 150px;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        border-bottom: 1px solid #574c35;
        background-color: rgba(0, 0, 0, 0);
      }

      p {
        width: 155px;
        border-bottom: 1px solid #574c35;
      }

      img {
        height: 8rem;
        width: 8rem;
        padding: 1rem;
        margin-top: 10rem;
        border: 2px solid #574c35;
        border-radius: 50%;
        object-fit: contain;
      }
    }

    .remove__btn {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      border: 2px solid #574c35;
      background-color: #1f2229;
      background-image: url(../assets/images/cancel-button.png);
      background-size: 85%;
      background-repeat: no-repeat;
      background-position: center;
      @include hoverBox();

      &:hover {
        cursor: pointer;
        z-index: 1000;
      }
    }
  }

  .footerBtn_container {
    display: flex;
    align-items: center;
    position: relative;
    bottom: 0vh;
    width: 100%;
    height: 7rem;
    z-index: 1;
  }
}
