@import '../assets/mixins.scss';

.leagueRandomized_container {
  height: 100%;
  display: flex;
  flex-direction: column;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s smooth;

  section {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    .section_header {
      width: 100%;
      min-height: 3rem;
      height: 4vw;

      display: grid;
      grid-template-columns: repeat(9, 1fr);

      z-index: 1;

      background: rgb(0, 0, 0);
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.819) 10%,
        rgba(0, 0, 0, 0.819) 20%,
        rgba(0, 0, 0, 0.819) 30%,
        rgba(0, 0, 0, 0.719) 40%,
        rgba(0, 0, 0, 0.619) 50%,
        rgba(0, 0, 0, 0.519) 60%,
        rgba(0, 0, 0, 0.419) 70%,
        rgba(0, 0, 0, 0.319) 80%,
        rgba(0, 0, 0, 0.219) 90%,
        rgba(0, 0, 0, 0.10185574229691872) 100%
      );

      .section_left_box {
        grid-column: 1/4;
        display: flex;

        button {
          min-width: 2rem;
          width: 2vw;
          margin: 0 1vw;

          background: none;
          border: none;
          background-image: url('../assets/images/arrow-icon.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;

          scale: 0.7;
          @include hoverBox();
        }

        img {
          height: 2.3vw;
          min-height: 2.2rem;
          width: 2.3vw;
          min-width: 2.2rem;
          padding: 0 1vw;
          border-left: 1px solid grey;
          margin: 0.7vw;
        }

        h2 {
          align-self: center;
        }
      }

      .statusText_container {
        grid-column: 4/7;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .gameMode_container {
      width: 100%;
      height: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      .gameMode_container__box {
        width: 25%;
        height: 73%;
        margin: 1.5%;
        padding: 1.5%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        border: 0.2vw solid #7c5f2d;
        background-color: rgba(0, 0, 0, 0.819);
        animation: appear 0.5s;
        overflow: hidden;

        label {
          margin: 3vw 0 1vw 0;
          font-size: 1.8vw;
          font-weight: bold;
          color: #cdbe91;
          z-index: 1;
        }

        .checkbox {
          width: 1.1vw;
          height: 1.1vw;
          margin: 5.2vw 0 1vw 0;

          border: 0.2vw solid #7c5f2d;

          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          transform: rotate(45deg);
          z-index: 1;

          &:hover {
            -webkit-box-shadow: 0px 0px 10px 4px rgba(148, 209, 252, 1);
            -moz-box-shadow: 0px 0px 10px 4px rgba(148, 209, 252, 1);
            box-shadow: 0px 0px 10px 4px rgba(148, 209, 252, 1);
          }

          input {
            width: 80%;
            height: 80%;
            margin: 0;

            display: flex;
            border: none;
            outline: none;
            cursor: pointer;
            content: ' ';

            &::before {
              content: ' ';
              width: 100%;
              display: block;
              background-color: black;
            }

            &:checked::before {
              background-color: white;
            }
          }
        }

        img {
          width: 50%;
          z-index: 1;
        }

        video {
          height: 100%;
          position: absolute;
          opacity: 0.6;
        }
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
    bottom: 10rem;
  }
  to {
    opacity: 1;
    bottom: 0rem;
  }
}

@media only screen and (max-width: 1000px) {
  .leagueRandomized_container {
    section {
      .section_header {
        .section_left_box {
          grid-column: 1/4;
        }

        .statusText_container {
          grid-column: 4/7;
          justify-content: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .leagueRandomized_container {
    section {
      .section_header {
        .section_left_box {
          grid-column: 1/3;

          h2 {
            display: none;
          }
        }

        .statusText_container {
          grid-column: 3/8;
        }
      }

      .gameMode_container {
        width: 100%;
        flex-direction: column;

        .gameMode_container__box {
          width: 80%;
          height: 100%;
          margin: none;
          padding: none;
          border: 3px solid #7c5f2d;
          flex-direction: row;

          label {
            width: 67%;
            font-size: 25px;
            text-align: center;
          }

          img {
            width: 60px;
            height: 60px;
            justify-self: left;
          }

          .checkbox {
            margin: 0;
            scale: 2;
          }

          video {
            width: 100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .leagueRandomized_container {
    section {
      .section_header {
        .section_left_box {
          grid-column: 1/3;
        }

        .statusText_container {
          grid-column: 3/10;
          padding: 10px;
        }
      }

      .gameMode_container {
        .gameMode_container__box {
          label {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
