@mixin gamemode-style {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;

  section {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
  }
}

.normal {
  @include gamemode-style();
  background-image: url('../assets/images/normal.png');
}

.aram {
  background-image: url('../assets/images/aram.png');
  @include gamemode-style();
}

.urf {
  background-image: url('../assets/images/urf.png');
  @include gamemode-style();
}

.default__background {
  background-image: url('../assets/images/defaultBG.png');
  @include gamemode-style();
}
