@import '../assets/mixins.scss';

.container {
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../assets/images/banner12.png');
  background-repeat: no-repeat;
  margin-left: 15px;
  padding-top: 13rem;
  position: relative;
  animation: anim_transition 1s;
  p {
    width: 155px;
    border-bottom: 1px solid #574c35;
    white-space: nowrap;
  }

  .img_container {
    border: 2px solid #574c35;
    width: 11rem;
    height: 9rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .role_container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  button {
    border-radius: 50%;
    background-color: #1f2229;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    border: 2px solid #574c35;
    @include hoverBox();

    &:active {
      background-image: url('../assets/images/button-reroll-click.png');
    }
  }
  .reroll_button__active {
    background-image: url('../assets/images/button-reroll.png');

    &:hover {
      background-image: url('../assets/images/button-reroll-hover.png');
    }
  }
  .reroll_button__disabled {
    background-image: url('../assets/images/button-reroll-disabled.png');
  }
}

@keyframes anim_transition {
  from {
    top: -10rem;
    opacity: 0;
  }

  to {
    top: 0rem;
    opacity: 1;
  }
}
