@import '../assets/mixins.scss';

.container {
  background-position-x: center;
  background-color: white;
  // background-color: rgba(0, 0, 0, 0.819);

  border: 3px solid #574c35;
  width: 55%;
  max-height: 26rem;
  height: 26rem;
  display: flex;
  align-items: center;
  padding: 2.5rem;
  position: relative;
  top: -1.5rem;

  .form_container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
      color: black;
      margin: 0.5rem;
    }
    form {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;

      .input_container {
        border-radius: 5px;
        display: flex;
        background-color: rgb(237, 237, 237);
        border: 1px solid #574c35;
        margin: 0.8rem 4rem;
        justify-content: center;
        align-items: center;

        .input_container__box {
          display: flex;
          flex-direction: column;
          margin-left: 0.5rem;

          label {
            color: grey;
            font-size: 0.8rem;
            position: relative;
          }

          input {
            color: black;
            background-color: transparent;

            &:focus {
              outline: none;
            }
          }
        }

        .remove__btn {
          width: 2rem;
          height: 2rem;
          background-image: url(../assets/images/button_close.png);
          border: none;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          margin-left: 3rem;
          @include hoverBox();

          &:hover {
            cursor: pointer;
            background-image: url(../assets/images/button_close_hover.png);
            z-index: 1000;
          }
        }
      }
    }
  }
}
