.container {
  width: 250px;
  height: 62.4vh;
  top: -16vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../images/banner12.png');
  background-repeat: no-repeat;
  color: white;
  margin-left: 15px;
  position: relative;
  overflow: hidden;
  padding-top: 10rem;

  .championBox {
    display: flex;
    align-items: center;

    button {
      height: 20px;
      margin: 10px;
    }
  }

  img {
    image-rendering: auto;
    image-resolution: inherit;
    border: 2px solid #574c35;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
  }

  .reroll__button {
    border-radius: 50%;
    background-color: #1f2229;
    background-image: url('../images/circular-arrows-svgrepo-com.svg');
    width: 2rem;
    height: 2rem;
    border: 2px solid #574c35;

    &:hover {
      cursor: pointer;
    }
  }
}
