.players {
  height: 100%;
  position: absolute;
  top: -2vh;
  display: flex;

  video {
    position: relative;
    top: -6rem;
    animation: anim_transition 1s;
  }
}

@keyframes anim_transition {
  from {
    top: -10rem;
    opacity: 0;
  }

  to {
    top: -6rem;
    opacity: 1;
  }
}

@media only screen and (max-width: 900px) {
  .players {
    height: auto;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
