@import url(//db.onlinewebfonts.com/c/2c37f3699d9728b566e9bdc5b11e5180?family=BeaufortW01-Regular);

@font-face {
  font-family: 'LOL font';
  src: url('//db.onlinewebfonts.com/t/2c37f3699d9728b566e9bdc5b11e5180.eot');
  src: url('//db.onlinewebfonts.com/t/2c37f3699d9728b566e9bdc5b11e5180.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/2c37f3699d9728b566e9bdc5b11e5180.woff2') format('woff2'),
    url('//db.onlinewebfonts.com/t/2c37f3699d9728b566e9bdc5b11e5180.woff') format('woff'),
    url('//db.onlinewebfonts.com/t/2c37f3699d9728b566e9bdc5b11e5180.ttf') format('truetype'),
    url('//db.onlinewebfonts.com/t/2c37f3699d9728b566e9bdc5b11e5180.svg#BeaufortW01-Regular')
      format('svg');
}

body {
  margin: 0;
  font-family: 'LOL font' sans-serif;
  color: white;
  overflow: hidden;
}

h1,
h2,
h3 {
  margin: 0px;
}

h1 {
  color: #cdbf92;
}

p,
input {
  border: none;
  font-size: 1rem;
  text-align: center;
  color: white;
}
