@mixin hoverBox {
  .hover_text {
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    width: 12rem;
    color: white;
    background-color: #484a4c;
    border: 1px solid white;
    margin-left: 2rem;
  }

  &:hover {
    cursor: pointer;
    z-index: 1000;

    .hover_text {
      visibility: visible;
      opacity: 1;
    }
  }
}
